html {
  /* font-size default é 16px,  16px * 62.5% = 10px,  10px = 1rem */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 6rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  padding: 1rem;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
  padding: .5rem 5.5rem;
  text-align: center;
}
footer span {
  color: crimson;
  margin: 0 .5rem;
  font-size: 1.4rem;
}

/*  Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

input, textarea, select, button {
  padding: 1rem;
  border-radius: .5rem;
  border: .1rem solid #a4a4a4;
  
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: .1rem solid #404040;
  transition: background-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
}

button.block {
  width: 100%;
}
button.primary {
  background-color: #f0c040;
}
button.primary:hover {
  background-color: #f5b609;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

header a {
  color: #fff;
  padding: 1rem;
}
header a.bold {
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: crimson;
  color: #fff;
  border-radius: 50%;
  padding: .2rem .7rem;
  font-size: 1.4rem;
  position: relative;
  bottom: .6rem;
  left: .2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

/* Image */
img {
  border-radius: .5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  border: .1rem solid #c0c0c0;
  background-color: #f8f8f8;
  border-radius: .5rem;
  margin: .7rem;
  padding-top: .5rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: .5rem;
}
.price {
  font-size: 2rem;
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: .1rem;
}
.rating span:last-child {
  color: #040404;
  margin-left: .5rem;
  font-size: 1.4rem;
}

/* Alert */
.success {
  color: #20a020;
}
.danger {
  color: crimson;
}
.alert {
  padding: 1rem;
  border: .1rem solid transparent;
  border-radius: .5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}